<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serial" value="SALI01"/>
		<add key="Carril" value="1"/>
		<add key="CodigoEstacionamiento" value="1"/>
    <add key="PuertoLPR" value="27001"/>
    <add key="IDLPR" value="1"/>
		<add key="XmlMensajes" value="Mensajes.xml"/>
		<add key="LenguajeMensaje" value="ES"/>
		<add key="LogFilePath" value="C:\BlockAPassLogs\"/>
		<add key="EnabledTracking" value="true"/>
		<add key="TestMode" value="true"/>
		<add key="PuertoKYT" value="COM1"/>
		<add key="PuertoPLC" value="COM4"/>
    <add key="PLC" value="false"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding_EntradaService" />
				<binding name="basicHttpBinding_EnvioImagenesService" />
				<binding name="basicHttpBinding_SalidaService" />
				<binding name="basicHttpBinding_LiquidacionService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:83/MC_Block_Pass/MC_EntradaService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_EntradaService"
                contract="MC_EntradaService.IEntradaService" name="basicHttpBinding_EntradaService" />
			<endpoint address="http://localhost:84/MC_Block_Pass/MC_EnvioImagenesService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_EnvioImagenesService"
                contract="MC_EnvioImagenesService.IEnvioImagenesService" name="basicHttpBinding_EnvioImagenesService" />
			<endpoint address="http://localhost:85/MC_Block_Pass/MC_SalidaService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_SalidaService"
                contract="MC_SalidaService.ISalidaService" name="basicHttpBinding_SalidaService" />
			<endpoint address="http://localhost:88/MC_Block_Pass/MC_LiquidacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_LiquidacionService"
                contract="MC_LiquidacionService.ILiquidacionService" name="basicHttpBinding_LiquidacionService" />
		</client>
	</system.serviceModel>
</configuration>