<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MC.DataService.Properties.Settings.ParkingConnectionString"
            connectionString="Data Source=192.168.1.5;Initial Catalog=Plaza;User ID=sa;Password=Parquearse123"
            providerName="System.Data.SqlClient" />
        <add name="MC.DataService.Properties.Settings.ParkingConnectionString1"
            connectionString="Data Source=192.168.1.5;Initial Catalog=Plaza;User ID=sa;Password=Parquearse123"
            providerName="System.Data.SqlClient" />
        <add name="MC.DataService.Properties.Settings.TestFloridaConnectionString"
            connectionString="Data Source=192.168.1.5;Initial Catalog=Plaza;User ID=sa;Password=Parquearse123"
            providerName="System.Data.SqlClient" />
        <add name="MC.DataService.Properties.Settings.ParkingConnectionString2"
            connectionString="Data Source=192.168.1.5;Initial Catalog=Plaza;User ID=sa;Password=Parquearse123"
            providerName="System.Data.SqlClient" />
        <add name="MC.DataService.Properties.Settings.ParkingConnectionString3"
            connectionString="Data Source=192.168.1.5;Initial Catalog=Plaza;User ID=sa;Password=Parquearse123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>